<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.detection">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"  android:required="false"/>

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity android:name=".TestDetection"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity android:name=".LimitAppsActivity"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize">

        </activity>

        <activity android:name=".fragment.popupFragment.testTimeInsertPopupFragment"
            android:screenOrientation="fullSensor"
            android:theme="@style/popupTheme"
            />
        <activity android:name=".fragment.popupFragment.SubjectDataPopupFragment"
            android:screenOrientation="fullSensor"
            android:theme="@style/popupTheme"/>
        <activity android:name=".fragment.popupFragment.ScheduleDataPopupFragment"
            android:screenOrientation="fullSensor"
            android:theme="@style/popupTheme"/>
        <service android:name=".AlarmSoundService"></service>

        <service
            android:name=".LimitService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>